<?xml version="1.0"?>
<launch>
    <arg name="arm_vendor" default="dobot" />
    <arg name="nx_host" default="192.168.2.20" />
    <arg name="nx_port" default="8888" />

    <node pkg="master_node" type="master_node" respawn="false" name="master_node" output="screen">
        <param name="arm_vendor" value="$(arg arm_vendor)" />
        <param name="nx_host" value="$(arg nx_host)" />
        <param name="nx_port" value="$(arg nx_port)" />
    </node>
</launch>
